.Titulo{
    color: aqua;
    text-align: center;
}
.subti{
color: aqua;
font-size: 23px;
font-family: Arial;
text-align: center;
}
.Bod{
    width: 30%;
margin: 40px auto;
padding: 30px;
border: 5px solid #d99200;
border-radius: 5 px;
text-align: center;
background-color: aliceblue;
color: rgb(208, 137, 30);
}
.Ne{
color: rgb(0, 0, 0);
font-size: 20px;
}
body{
background-color: black;
}
