body{
    background-color: rgb(31, 22, 131);
}

h1{
    text-align: center;
    color: snow;
}

h2{
    text-align: center;
    color: snow;
}

p{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 500px;
    border: none;
    margin: 25px auto;
    font-size: 1rem;
}