body {
    background-image: url("Fondos-para-paginas-web-grandes.jpg");
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

.menu{
    width: 250px;
    border-radius: 10px;
    background: white;
    padding: 20px;
    border: 2px solid #ccc;
    margin: 40px auto;
}

.menu a {
    display: block;             
    margin-bottom: 10px;        
    color: #0055ff;             
    text-decoration: none;     
    font-weight: bold;
}

.menu a:hover {
    color: #ff5500;             
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.fenix {
    font-size: 60px;
    animation: flotar 2s infinite ease-in-out;
}
z
.izquierda {
    animation-delay: 0s;
}

.derecha {
    animation-delay: 1s;
}

@keyframes flotar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

